<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Engañón">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".MainActivity"
            android:exported="false" />
        
        <activity android:name=".ui.PlayersActivity" />
        <activity android:name=".ui.ConfigActivity" />
        <activity android:name=".ui.RoleSelectionActivity" />
        <activity android:name=".ui.SecretWordActivity" />
        <activity android:name=".ui.DebateActivity" />
        <activity android:name=".ui.VoteActivity" />
        <activity android:name=".ui.VoteResultActivity" />
        <activity android:name=".ui.FinalResultActivity" />
        <activity android:name=".ui.GameActivity" />
        <activity android:name=".ui.WordActivity" />
        <activity android:name=".ui.SugerenciasActivity" />

    </application>

</manifest>
